/*COLORS PALLETE*/
a {
  transition: color 0.5s ease;
  color: #165b5c;
}
a:hover {
  color: #419fa2;
  cursor: pointer;
  transition: color 0.5s ease;
}
h1 {
  text-align: center;
}
h3 {
  font-weight: 600;
}
.share {
  white-space: normal;
}
.italic {
  font-style: italic;
}
.green {
  color: #419fa2;
}
.green-btn {
  background-color: #419fa2;
  border-color: #419fa2;
  transition: background-color 0.5s ease;
}
.green-btn:hover {
  background-color: #07ced2;
  border-color: #07ced2;
  color: #000;
  transition: all 0.5s ease;
}
.green-btn:focus {
  background-color: #165b5c;
  border-color: #165b5c;
}
.green-btn:active {
  background-color: #165b5c;
  border-color: #165b5c;
}
body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding-top: 50px;
}
.navbar-default {
  background-color: #67cda7;
  border-color: #419fa2;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #fff;
  transition: color 0.5s ease;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #165b5c;
  transition: color 0.5s ease;
}
.navbar-default .navbar-nav>.active>a {
  background-color: #165b5c;
  color: #07ced2;
  transition: background-color 0.5s ease;
}
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #419fa2;
  color: #165b5c;
  transition: background-color 0.5s ease;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #165b5c;
  color: #07ced2;
  transition: background-color 0.5s ease;
}
.dropdown-menu {
  background-color: #165b5c;
  border: 1px solid rgba(22,91,92,0.9);
  padding: 0;
}
.dropdown-menu li {
  padding: 0;
  width: 100%;
}
.dropdown-menu li a {
  color: #fff;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: right;
  transition: color 0.5s ease;
}
.dropdown-menu li a:hover {
  background-color: #165b5c;
  color: #07ced2;
  transition: color 0.5s ease;
}
.panel-default .panel-heading {
  background-color: #165b5c;
  color: #fff;
}
.map {
  background-size: cover;
  border-bottom: 1px dashed #165b5c;
  height: 350px;
  text-align: center;
}
#map {
  height: 100%;
  display: block;
  background-color: #808080;
}
.spots-list {
  padding-top: 30px;
}
.btn.btn-primary {
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.map-drag-container {
  display: block;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.map-drag {
  background-color: #808080;
  display: block;
  height: 300px;
  width: 100%;
}
.adsense {
  margin-top: 60px;
  margin-bottom: 40px;
  overflow: hidden;
}
footer {
  color: #fff;
  background: #67cda7;
  border-top: 1px solid #419fa2;
  height: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
footer .social {
  text-align: center;
  padding: 0;
}
footer .social li {
  display: inline-block;
  margin-right: 10px;
}
footer .social li:last-of-type {
  margin-right: 0;
}
footer .social li a {
  font-size: 2em;
  transition: color 0.5s ease;
}
footer .social li a:hover {
  transition: color 0.5s ease;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer .social-column {
    text-align: left;
  }
  footer .social-column .social {
    text-align: left;
    padding: 0;
  }
  footer .social-column .social li {
    display: inline-block;
    margin-right: 10px;
  }
  footer .social-column .social li a {
    font-size: 2em;
    transition: color 0.5s ease;
  }
  footer .social-column .social li a:hover {
    transition: color 0.5s ease;
    text-decoration: none;
  }
  footer .contact-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 80px;
  }
  footer .contact-column p {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .map {
    height: 450px;
  }
}
@media screen and (min-width: 992px) {
  .map {
    height: 550px;
  }
}

/*# sourceMappingURL=app.css.map */
