/*COLORS PALLETE*/
verdebase = #67CDA7
verde1 = #07CED2
verde2 = #419FA2
verde3 = #165B5C
turquesa = #07CED2
gris1 = #F2F2F2

a
	transition color .5s ease
	color verde3
	&:hover
		color verde2
		cursor pointer
		transition color .5s ease
h1
	text-align center
h3
	font-weight 600
.share
	white-space normal
.italic
	font-style italic
.green
	color verde2
.green-btn
	background-color verde2
	border-color verde2
	transition background-color .5s ease
	&:hover
		background-color verde1
		border-color verde1
		color black
		transition all .5s ease
	&:focus
		background-color verde3
		border-color verde3
	&:active
		background-color verde3
		border-color verde3
body
	background-color gris1
	font-family 'Lato', sans-serif
	font-weight 600
	padding-top 50px
.navbar-default	
	background-color verdebase
	border-color verde2
	.navbar-brand
	.navbar-nav>li>a
		color white
		transition color .5s ease
		&:hover
			color verde3
			transition color .5s ease
	.navbar-nav>.active>a
		background-color verde3
		color verde1
		transition background-color .5s ease
		&:hover
			background-color verde2
			color verde3
			transition background-color .5s ease
	.navbar-nav>.open>a,
	.navbar-nav>.open>a:focus,
	.navbar-nav>.open>a:hover
		background-color verde3
		color verde1
		transition background-color .5s ease
.dropdown-menu
	background-color verde3
	border 1px solid rgba(verde3, .9)
	padding 0
	li
		padding 0
		width 100%
		a
			color white
			display block
			padding-bottom 10px
			padding-top 10px
			text-align right
			transition color .5s ease
			&:hover
				background-color verde3
				color verde1
				transition color .5s ease
.panel-default
	.panel-heading
		background-color verde3
		color white
.map
	background-size cover
	border-bottom 1px dashed verde3
	height 350px
	text-align center
#map
	height 100%
	display block
	background-color gray
.spots-list
	padding-top 30px
.btn.btn-primary
	padding-left 30px
	padding-right 30px
	text-transform uppercase
	letter-spacing 1px
.map-drag-container
	display block
	height auto
	overflow hidden
	margin-bottom 20px
.map-drag
	background-color gray
	display block
	height 300px
	width 100%
.adsense
	margin-top 60px
	margin-bottom 40px
	overflow hidden
footer
	color white
	background verdebase
	border-top 1px solid verde2
	height auto
	text-align center
	padding-top 30px
	padding-bottom 10px
	.social
		text-align center
		padding 0
		li
			display inline-block
			margin-right 10px
			&:last-of-type
				margin-right 0
			a
				font-size 2em
				transition color .5s ease
				&:hover
					transition color .5s ease
					text-decoration none
@media screen and (min-width: 768px)
	footer
		.social-column
			text-align left
			.social
				text-align left
				padding 0
				li
					display inline-block
					margin-right 10px
					a
						font-size 2em
						transition color .5s ease
						&:hover
							transition color .5s ease
							text-decoration none
		.contact-column
			display flex
			justify-content flex-end
			height 80px
			p
				align-self center
	.map
		height 450px
@media screen and (min-width: 992px)
	.map
		height 550px