h3
	font-weight 600
body
	font-family 'Lato', sans-serif
	padding-top 50px
	font-weight 600
	.map
		background transparent url(../../images/map.jpg) no-repeat center top
		background-size cover
		height 500px
		text-align center
	.spots-list
		padding-top 30px
	footer
		background #f8f8f8
		border-top 1px solid #e7e7e7
		height 150px
		text-align center
		padding-top 30px